In [1]:
import numpy as np
import pandas as pd

In [2]:
path = "/Users/theodoreplotkin/desktop/postmalone/GA_Data_Science/iowa_train.csv"

In [3]:
train = pd.read_csv(path)

In [4]:
path = "/Users/theodoreplotkin/desktop/postmalone/GA_Data_Science/iowa_test.csv"
test = pd.read_csv(path)

In [5]:
train.shape

(1458, 70)

In [10]:
test.shape

(1459, 68)

In [11]:
discrete_ordered = ["ExteriorQuality",
"ExteriorCondition",
"BasementQuality",
"BasementCondition",
"BasementExposure",
"HeatingQuality",
"KitchenQuality",
"FireplaceCount",
"GarageRemodel",
"GarageQuality",
"GarageCondition",
"OverallQual",
"OverallCond",
"Condition1"]

In [12]:
train.columns

Index(['MSSubClass', 'MSZoning', 'LandContour', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'BldgType', 'HouseStyle', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle', 'RoofMatl',
       'Exterior1st', 'Foundation', 'BsmtFinType1', 'TotalBsmtSF', 'Heating',
       'CentralAir', 'Electrical', 'BsmtFullBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'GarageType',
       'GarageYrBlt', 'GarageCars', 'GarageArea', 'PavedDrive', 'Fence',
       'MoSold', 'YrSold', 'SaleType', 'SaleCondition', 'SalePrice',
       'SalePrice_ln', 'BasementQuality', 'BasementCondition',
       'BasementExposure', 'KitchenQuality', 'HeatingQuality',
       'ExteriorQuality', 'ExteriorCondition', 'FireplaceCount',
       'GarageRemodel', 'GarageQuality', 'GarageCondition', 'ScreenPorch_ln',
       'LotFrontage_ln', 'KitchenAbvGr_ln', 'BsmtFinSF1_ln', 'WoodDeckSF_ln',
       '1stFlrSF_ln', 'BsmtFinSF2_ln', 'BsmtUnfSF_ln', 'BsmtHalfBath_ln',
       'MiscVal_ln', 'EnclosedPorch_ln', 'LotArea_ln', 'OpenPorchSF_ln',
       '2ndFlrSF_ln', 'GrLivArea_ln', 'LowQualFinSF_ln', 'PoolArea_ln',
       'MasVnrArea_ln', '3SsnPorch_ln'],
      dtype='object')

In [13]:
train.shape

(1458, 70)

In [14]:
test.shape

(1459, 68)

In [18]:
#set(train.columns) - set(test.columns)

# standardize the data

In [40]:
num_cols = train.select_dtypes(include=np.number).columns.tolist()

In [41]:
num_cols = list((set(num_cols) - set(["SalePrice","SalePrice_ln"])))

In [36]:
# # standardize data
num_cols = train.select_dtypes(include=np.number).columns.tolist()
train_std = (train[num_cols] - train[num_cols].mean()) / train[num_cols].std()
train_std.shape

(1458, 48)

In [42]:
if "SalePrice" in num_cols:
    print(True)

In [43]:
set(num_cols) - set(test.select_dtypes(include=np.number).columns.tolist())

set()

In [47]:
test[num_cols].head()

,KitchenAbvGr_ln,GarageRemodel,BsmtHalfBath_ln,OverallQual,MoSold,OpenPorchSF_ln,3SsnPorch_ln,HeatingQuality,BasementCondition,BedroomAbvGr,...,GarageYrBlt,KitchenQuality,BsmtFinSF1_ln,LotArea_ln,LowQualFinSF_ln,BsmtFullBath,ExteriorQuality,2ndFlrSF_ln,PoolArea_ln,BasementQuality
0,0.693147,1,0.0,5,6,0.000000,0.0,2,2,2,...,1961.0,1.0,6.150603,9.360741,0.0,0.0,1,0.000000,0.0,2
1,0.693147,1,0.0,6,6,3.610918,0.0,2,2,3,...,1958.0,2.0,6.828712,9.565775,0.0,0.0,1,0.000000,0.0,2
2,0.693147,2,0.0,5,3,3.555348,0.0,3,2,3,...,1997.0,1.0,6.674561,9.534668,0.0,0.0,1,6.553933,0.0,3
3,0.693147,2,0.0,6,6,3.610918,0.0,4,2,3,...,1998.0,2.0,6.401917,9.208238,0.0,0.0,1,6.520621,0.0,2
4,0.693147,2,0.0,8,1,4.418841,0.0,4,2,2,...,1992.0,2.0,5.575949,8.518392,0.0,0.0,2,0.000000,0.0,3

In [46]:
#num_cols1 = test.select_dtypes(include=np.number).columns.tolist()
test_std = (test[num_cols] - train[num_cols].mean()) / train[num_cols].std()
test_std.shape

(1459, 46)

In [48]:
train_std = pd.get_dummies(train, drop_first=True)
test_std = pd.get_dummies(test, drop_first=True)

In [51]:
#test_std.shape